<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CV</title>
		<link rel="stylesheet" href="../styles/style.css">
	</head>
	<body>
		<div>
			<h1>NATALIA PONOMAREVA</h1>
			<h2>Tester</h2>			
		</div>
		<div>
			<p class="contact_information">Sibniishoz | Russia | Omsk <br>
			89083106307 | natalip5876@gmail.com</p>
		</div>
		<hr>
		<div class = "column1">
			<img src="../images/enot.jpg" alt="Енотик" title="нету фото, есть енотик"><br>
			<div> 
				<p class="block_title">Skills</p>

				<p class="text_style">Communication</p>		
				<progress value="6" max="10"></progress>

				<p class="text_style">Teamwork</p>
				<progress value="8" max="10"></progress>

				<p class="text_style">Organization</p>
				<progress value="8" max="10"></progress>

				<p class="text_style">Attentive</p>
				<progress value="7" max="10"></progress>
			</div>
			
			<div>
				<p class="block_title">Software</p>
				<p class="text_style">Photoshop</p>		
				<progress value="6" max="10"></progress>
				<p class="text_style">Coding/CSS</p>
				<progress value="5" max="10"></progress>
			</div>
		</div>
		<div  class="column2">
			<div>
				<div>
					<p class="block_title">About me</p>
					<p class="text_style"><b>I’M Natalia Ponomareva</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
				</div>
				<div>
					<p class="block_title">Education</p>
					<div>
						<table class="text_style">
							<tr>
								<td width= "17%" class="years_of_education">
									2012 / 2016 
								</td>
								<td>
									Faculty of Information Technologies and Computer Systems, Omsk State Technical University<br><b>Bachelor of science</b>
								</td>
							</tr>
							<tr>
								<td class="years_of_education">
									2016 / 2018
								</td>
								<td>
									Faculty of Elite Education and Magistracy, Omsk State Technical University<br><b>Student</b>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<p class="block_title">Experience</p>
					<div class="text_style">
						<p class="years_of_work">
							12.2016 - Present
						</p>
						<p>
							<strong>Engineer</strong><br>
							Avtomatica-Servis, LTD
						</p>	
						<p class="description">
							<b>Description.</b> If successful in the tests, those who are considered by a hiring service to be suitable to their requirements will be invited.
						</p>
					</div>
				</div>
				<div>
					<p class="block_title">Reference</p>
					<table class="text_style">
						<tr>
							<td width= "70%">
								<div> <b>Michael Johns</b></div>
								<div>Manager /Compony</div>
								<div class="contact_information">
								T. +1 0123 456 789<br>
								E. Michael Johnsr@gmail.com
								</div>
							</td>
							<td>
								<div> <b>Michael Johns</b></div>
								<div>Manager /Compony</div>
								<div class="contact_information">
								T. +1 0123 456 789<br>
								E. Michael Johnsr@gmail.com
								</div>
							</td>
						</tr>
					</table>
				</div>				
			</div>
		</div>
		<hr class="end_border">
	</body>
</html>